<!DOCTYPE html>
<html>
<style>
#container {
  width: 400px;
  height: 400px;
  position: relative;
  background: blue;
}
#theBalloon {
  width: 88px;
  height: 100px;
  position: absolute;
}
.balloon{
  width: 88px;
  height: 100px;
}
</style>
<body>

<div id ="container">
  <div id ="theBalloon"onclick="tapBalloon()"><img class="balloon" src="/img/balloon.png"></div>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script src="../scripts/balloon.js"></script>

</body>
</html>
